<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka"
             type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <appSettings>
    <add key="SeqUri" value="http://localhost:5341"/>
    <add key="ML_IMAGES_INPUT_DIR_PATH" value="C:\dev\.data\notMNIST_small"/>
    <add key="ML_IMAGES_OUTPUT_FILE_PATH" value="C:\dev\.data\notMNIST_nzd.set"/>
    <add key="ML_IMAGES_OUTPUT_SHUFFLED_FILE_PATH" value="C:\dev\.data\notMNIST_nzd_shuffled.set"/>
    <add key="ML_IMAGES_OUTPUT_SHUFFLED_FILE_PATH_CSV" value="C:\dev\.data\notMNIST_nzd_shuffled.csv"/>
    <add key="ML_IMAGES_OUTPUT_TRAIN_FILE_PATH" value="C:\dev\.data\notMNIST_small_set\notMNIST_train.set"/>
    <add key="ML_IMAGES_OUTPUT_VALID_FILE_PATH" value="C:\dev\.data\notMNIST_small_set\notMNIST_valid.set"/>
    <add key="ML_IMAGES_OUTPUT_TEST_FILE_PATH" value="C:\dev\.data\notMNIST_small_set\notMNIST_test.set"/>  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
          akka {
            log-config-on-start = off
            stdout-loglevel = INFO
            loglevel = INFO
            loggers = [ "Akka.Event.DefaultLogger, Akka", "Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
            
            actor {
              deployment {          
                /ReadWriteCoordinator/Reader{
                  router = round-robin-pool
                  nr-of-instances = 7
                }
              }      
            }
       }
      ]]>
    </hocon>
  </akka>
</configuration>